:root {
    box-sizing: border-box;
    --color-white: rgba(255, 255, 255, 1);
    --color-white2: rgba(255, 255, 255, 0.6);
    --color-gray: rgba(245, 244, 250, 1);
    --color-gray2: rgba(117, 117, 117, 1);
    --color-dark: rgba(47, 48, 58, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-black2: rgba(33, 33, 33, 1);
    --color-blue: rgba(33, 150, 243, 1);
    --color-tlo1:rgba(47, 48, 58, 1);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-black2);
    background-color: var(--color-white);
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}
.header {
    display: flex;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(236, 236, 236);    
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--color-black);
}
.logo .blue {
    color: var(--color-blue);
}
.link, .link-agencja, .link-mail, .logo {
    text-decoration: none;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 93px;
}
.navigation-list {
    display: flex;
    list-style: none;
    gap: 46px;
}
.nav-link {
    color: var(--color-black2);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation-stopka {
    display: flex;
    gap: 50px;
    list-style: none; 
}
.stopka {
    color: var(--color-gray2);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.stopka-mail:hover {
    color: var(--color-blue);
} 
.link-tel,
.link-mail,
.footer-tel,
.footer-mail {
    text-decoration: none;
    color: var(--color-gray2);
}
.link-agencja:hover, .link-agencja:focus, 
.link-mail:hover, .link-mail:focus,
.footer-tel:hover, .footer-tel:focus,
.footer-mail:hover, .footer-mail:focus
 {
    color:var(--color-blue);
}
.cursor {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-top: 94px;
    padding-bottom: 50px;
    gap: 30px; 
    align-items: center;
    justify-content: center;
}
.cursor-button, .cursor-button-w {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    width: 121px;
    height: 38px;
    left: 510px;
    top: 174px;
    background-color: var(--color-gray);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cursor-button-w {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);    
}
.card {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-black2);
    list-style: none;  
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
} 
.img {
    background:var(--color-white);
    border: 1px solid rgb(238, 238, 238);         
    }
.card-2, .card-1 {
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
p, .card-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.03em;    
    color: var(--color-gray2)    
}
.adres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-white);
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-white)
}
.footer-logo .blue {
    color: var(--color-blue);
}
.footer {
background: var(--color-dark);
padding-top: 60px;
padding-bottom: 60px;
}
.footer-mail, .footer-tel {
    color: var(--color-white2);
}
